.pulse-background {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 9999; /* Ensures it's on top of all other content */
}

.pulse {
  width: 22.4px;
  height: 22.4px;
  border-radius: 50%;
  background: #474bff;
  box-shadow: 0 0 0 0 rgba(71, 75, 255, 0.5);
  animation: pulse-animation 1.8s infinite linear;
  position: relative;
}

.pulse:before,
.pulse:after {
  content: "";
  position: absolute;
  inset: 0;
  border-radius: inherit;
  box-shadow: 0 0 0 0 rgba(71, 75, 255, 0.5);
  animation: inherit;
}

.pulse:before {
  animation-delay: -0.6s;
}

.pulse:after {
  animation-delay: -1.2s;
}

@keyframes pulse-animation {
  100% {
    box-shadow: 0 0 0 44.8px rgba(71, 75, 255, 0);
  }
}

///
.spinner {
  width:30px;
  aspect-ratio: 1;
  background: #FFFFFF;
  display: grid;
  transform-origin: top right;
  animation: l6-0 1s infinite linear;
}
.spinner::before,
.spinner::after {
  content: "";
  grid-area: 1/1;
  background: #93c5fd;
  transform-origin: inherit;
  animation: inherit;
  animation-name: l6-1;
}
.spinner::after {
  background:#2B9BED;
  --s:180deg;
}
@keyframes l6-0 {
  70%,
  100% {transform: rotate(360deg)}
}
@keyframes l6-1 {
  30% {transform: rotate(var(--s,90deg))}
  70% {transform: rotate(0)}
}